 <div class="banner-wrapper bg-light" *ngIf="!isLoggedIn">
  <div id="index_banner" class="banner-vertical-center-index container-fluid pt-5 pt-aux ">

     
      <div id="carouselExampleIndicators" class="carousel slide " data-bs-ride="carousel">
          <ol class="carousel-indicators">
              <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
              <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
              <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
          </ol>

          <div class="carousel-inner">

        
              <div class="carousel-item active">

                  <div class="py-5 py-aux row d-flex align-items-center">
                      <div class="banner-content col-lg-8 col-8 offset-2 m-lg-auto text-left py-5 py-aux pb-5 pb-aux">
                          <h1
                              class="banner-heading h1 text-light display-3 mb-0 pb-5 pb-aux mx-0 px-0  typo-space-line title-banner">
  
                              Nadie nace un gran cocinero, se aprende intentando
                          </h1>
                          <p class="banner-body text-light py-3 py-aux mx-0 px-0 subtitle subtitle-banner"> Por eso te ofrecemos las mejores<strong> recetas</strong>
                              <a rel="nofollow" href="#about-us" target="_parent"> + info</a>.
                          </p>
                          <a class="banner-button btn rounded-pill btn-outline-light btn-lg px-4 btn-hide" href="#"
                              role="button">Registrate!</a>
                      </div>
                  </div>

              </div>
             
              <div class="carousel-item">

                  <div class="py-5 py-aux row d-flex align-items-center">
                      <div class="banner-content col-lg-8 col-8 offset-2 m-lg-auto text-left py-5 py-aux pb-5 pb-aux">
                          <h1 class="banner-heading h1 text-dark display-3 mb-0 pb-3 mx-0 px-0 title-banner">
                              ¡Comidas ricas! 
                          </h1>
                          <p class="banner-body text-muted py-3 subtitle subtitle-banner"> Tenemos muchas recetas riquisimas, para 
                              <strong>disfrutar</strong> a lo grande.
                          </p>
                          <a class="banner-button btn rounded-pill btn-outline-dark btn-lg px-4" href="#"
                              role="button">About Us</a>
                      
                      </div>
                  </div>

              </div>
             
              <div class="carousel-item">

                  <div class="py-5 py-aux row d-flex align-items-center">
                      <div class="banner-content col-lg-8 col-8 offset-2 m-lg-auto text-left py-5 py-aux pb-5 pb-aux">
                          <h1 class="banner-heading h1 text-dark display-3 mb-0 pb-3 mx-0 px-0 title-banner">
                              ¿Ya sabes qué vas a cocinar hoy?
                          </h1>
                          <p class="banner-body text-muted py-3  subtitle subtitle-banner">
                              Sorprende a tu familia o amigos con nuestras recetas.
                          </p>
                          <a class="banner-button btn rounded-pill btn-outline-dark btn-lg px-4" href="#"
                              role="button btn-hide">Registrate!</a>
                      </div>
                  </div>

              </div>
          </div>
          
          <a class="carousel-control-prev text-decoration-none" href="#carouselExampleIndicators" role="button"
              data-bs-slide="prev">
              <i class='bx bx-chevron-left'></i>
              <span class="visually-hidden indicator"><</span>
          </a>
          <a class="carousel-control-next text-decoration-none" href="#carouselExampleIndicators" role="button"
              data-bs-slide="next">
              <i class='bx bx-chevron-right'></i>
              <span class="visually-hidden indicator">></span>
          </a>
      </div>
   

  </div>
</div>


